extends layout

block css
	link(rel='stylesheet', href='/css/index.css')

block content
	#menuWrapper
		h1.menuTitle Work-Work
	#titles
		ul#titlecontent
			for item in menuItems
				li=item.name
					span #{item.price},-